@charset "UTF-8";

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.button {
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  -webkit-column-rule: #fff;
  column-rule: #fff;
  padding: 13px 22px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding-top: 19px;
  padding-bottom: 19px;
  vertical-align: middle;
}

.header {
  padding: 15px 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid grey;
  padding-right: 13px;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

.main {
  position: relative;
  padding-top: 60px;
  padding-bottom: 87px;
  background: #373737 url("../img/main/main-bg.png") center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 2;
  /* Затемнение фонового изображения на главной картинке*/
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.main::after {
  content: '';
  display: block;
  position: absolute;
  left: 380px;
  top: 373px;
  width: 60px;
  height: 50px;
  background: url("../img/main/logo-rst.png") center no-repeat;
  z-index: 3;
  /* Оформление главной картинки */
}

.main-img {
  position: relative;
}

.main-img::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -195px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  /*Заголовок*/
}

.main-text__title {
  margin-bottom: 20px;
  font-size: 41px;
  font-weight: 700;
}

.main-text__subtitle {
  padding-bottom: 27px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 12px;
}

.form-title {
  margin-bottom: 20px;
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title__important {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.form__input {
  margin-right: 15px;
  padding: 19px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.form-small {
  font-size: 14px;
  font-weight: 300;
}